@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--foreground);
  --font-helvetica: var(--font-helvetica);
  --font-rofane: var(--font-rofane);
  --color-primary: #3971B9;
}


body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
